@import "src/styles/variables";
@import "src/styles/utilities";

.main {
  background-color: $bg-secondary;
  padding: 84px 0;
}

.title {
  color: $secondary;
  font-size: 34px;
  font-weight: bold;
  margin: 0;
}

.brief {
  max-width: 500px;
  margin: 8px 0 24px;
  font-size: 20px;
  line-height: 32px;
}

.image {
  margin-top: 18px;
}


@include media-breakpoint-down(md) {
  .title {
    font-size: 30px;
  }

  .main {
    padding: 24px 0 32px;
  }

  .title {
    margin-bottom: 8px;
  }

  .image {
    display: none;
  }

  .brief {
    margin-bottom: 18px;
    font-size: 20px;
  }
}
