@import "src/styles/variables";

.main {
  border: 1px solid #45525f;
  border-radius: 3px;
  background-color: transparent;
  //box-shadow: 2px 2px 0 $default;
  text-decoration: none;
  display: inline-flex;
  // height: 34px;
  padding: 5px 10px;
  transition: 0.1s linear;
  cursor: pointer;
  color: #e8edf2;

  &:hover {
     border-color: #f5a623;
  }
}
