@import "src/styles/variables";
@import "src/styles/utilities";

.main {
  background-color: $bg-secondary;
  padding: 42px 0;
}

.arrow {
  position: absolute;
  top: 5%;
  right: 10%;
  width: auto;
}

@include media-breakpoint-down(md) {
  .main {
    padding: 16px 0;
  }
}
