@import "src/styles/utilities";

.main {
  padding-top: 18px;
  padding-left: 24px;
  font-size: 20px;
  height: 100%;
}

.header {
  margin-top: 12px;
  margin-bottom: 30px;
  font-size: 48px;
}

.text {
  line-height: 28px;
  margin: 0;
}

.button {
  margin-top: 18px;
}

@include media-breakpoint-down(md) {
  .main {
    padding-left: 16px;
    padding-right: 16px;
  }

  .header {
    font-size: 30px;
    margin-bottom: 16px;
  }

  .button {
     margin-top: 16px;
   }
}
