@import "src/styles/variables";
@import "src/styles/utilities";

.main {
  padding: 36px 24px;
  background-color: $bg-primary;
  border: 1px solid $default;
  box-shadow: 4px 4px 0 $primary;
}

.title {
  font-size: 36px;
  color: $primary;
  margin: 0;
}

.button {
  height: 27px;
  min-width: 91px;
  font-size: 16px;
  font-weight: bold;
  padding: 0;
  display: inline-flex;
  align-items: center;
  justify-content: center;
  text-decoration: none;

  img {
    margin-inline-start: 4px;
  }
}

.descript {
  font-size: 16px;
  min-height: 38px;
  max-width: 373px;
  margin-bottom: 16px;
  margin-top: 0;
  line-height: 19px;
}

.details {
  font-size: 12px;
}

.buttonMobile {
  display: none;
  margin-top: 16px;
  max-width: unset;
  width: 100%;
}

@include media-breakpoint-down(md) {
  .main {
    padding: 12px;
    margin-bottom: 20px;
  }

  .title {
    font-size: 24px;
  }

  .button {
    display: none;
  }

  .descript {
    margin-bottom: 8px;
  }

  .buttonMobile {
    display: inline-flex;
  }
}
