@import "src/styles/variables";
@import "src/styles/utilities";

.main {
  background-color: $bg-secondary;
  display: flex;
  border: 1px solid $default;
}

.logo {
  display: flex;
  align-items: center;
  justify-content: center;
  background-color: $default;
  height: 248px;
  width: 248px;
}

.textArea {
  display: flex;
  flex-direction: column;
  justify-content: center;
  padding-left: 12px;
}

.degree {
  color: $primary;
  font-size: 28px;
  font-weight: bold;
  margin-top: 0;
  margin-bottom: 18px;
}

.advisor {
  font-size: 20px;
  margin-bottom: 12px;
}

.date {
  display: flex;
  align-items: center;
  font-size: 16px;
}

@include media-breakpoint-down(md) {
  .main {
    flex-direction: column;
    margin-bottom: 24px;
  }

  .logo {
    width: 100%;
    height: auto;
    padding: 16px 0;
  }

  .degree {
    margin-bottom: 8px;
  }

  .textArea {
    padding: 18px;
  }
}
