@import "src/styles/variables";
@import "src/styles/utilities";

.main {
  background-color: $bg-primary;
  margin-top: 48px;
  margin-bottom: 66px;
  position: relative;
}

.title {
  margin-top: 0;
  margin-bottom: 6px;
  font-size: 34px;
}

.stack {
  display: flex;
  flex-direction: column;
  gap: 16px;
}


.image {
  position: absolute;
  top: 0;
  right: 0;
  z-index: 0;
  width: 40%;
  max-width: 448px;
  height: auto;
  opacity: 0.15;
  pointer-events: none;
  user-select: none;
}


@include media-breakpoint-down(md) {
  .main {
    margin-top: 16px;
    margin-bottom: 18px
  }

  .image {
    display: none;
  }
}
