@import "./src/styles/variables";

.main {
  display: flex;
  font-size: 20px;
  list-style-type: none;
  gap: 16px;
  margin: 0;

  li {
    padding: 0 16px;
    cursor: pointer;
  }

  a {
    color: $default;
    text-decoration: none;
    transition: 0.1s linear;

    &:hover {
      color: $secondary;
      font-weight: 500;
    }
  }
}

.active {
  a {
    color: $primary !important;
    font-weight: 500;
  }
}
