@import "src/styles/utilities";

.main {
  padding: 24px 0;
  display: flex;
  justify-content: space-between;
  align-items: center;
  font-size: 12px;
  line-height: 18px;
}

@include media-breakpoint-down(md) {
  .main {
    text-align: center;
    padding: 12px 0;
  }
}
