@import "src/styles/variables";
@import "src/styles/utilities";

.main {
  background-color: $bg-secondary;
  width: 100%;
  max-width: 100%;
  overflow: auto;
  display: flex;
  //height: 33px;
}

.content {
  display: flex;
  width: 100%;
  flex-flow:row;

}

.item {
  //position: absolute;
  height: 33px;
  //min-width: 100px;
  padding: 8px;
  display: flex;
  box-sizing: border-box;
  font-size: 16px;
  justify-content: center;
  align-items: center;
  white-space: nowrap;

  &:after {
    //right: 0;
    //top: 5px;
    //position: relative;
    height: 23px;
    display: block;
    width: 1px;
    background: $default;
    content: '';
    margin-left: 16px;
    white-space: unset;
    overflow: unset;
  }

  &:last-child:after {
    display: none;
  }
}

.active {
  color: $primary;
}

@include media-breakpoint-up(md) {
  .main {
    display: none;
  }
}
