@import "src/styles/variables";
@import "src/styles/utilities";

.main {
  background-color: $default;
  color: $bg-primary;
  padding: 20px 54px;
  line-height: 28px;

  b {
    font-size: 18px;
  }
}

@include media-breakpoint-down(md) {
  .main {
    margin-top: 20px;
    background-color: $default;
    padding: 8px 12px;
    min-height: 480px;
  }
}
