@import "src/styles/variables";
@import "src/styles/utilities";

.main {
  background-color: $bg-secondary;
  padding: 12px 0;
  font-size: 20px;
}

.item {
  padding: 4px 0 4px 24px;
  height: 30px;
  cursor: pointer;
  display: flex;
  align-items: center;

  &:hover {
    color: $secondary;
  }
}

.active {
  position: relative;
  font-weight: 500;
  color: $primary !important;
  border-left: 4px solid $primary;

  &:after {
    position: absolute;
    background-color: $default;
    right: -12px;
    top: 8px;
    rotate: 45deg;
    content: ' ';
    height: 20px;
    width: 20px;
  }
}

@include media-breakpoint-down(md) {
  .main {
    display: none;
  }
}
